<a href="https://colab.research.google.com/github/hadijahumaira/python_for_datascience/blob/main/Basic_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**@create By : Dede Brahma Arianto S.Kom., M.Kom**

# Basic Python

## Variable

In [ ]:
#@title Variable

nama = 'Dede'
umur = 18
berat_badan = 87.5

In [ ]:
print("Nama :", nama)
print("Umur :", umur)
print("Berat Badan :", berat_badan)

Nama : Dede
Umur : 18
Berat Badan : 87.5

In [ ]:
#@title Variable with Input

nama2 = input("Masukkan Nama Anda: ")
umur2 = input("Masukkan Usia Anda: ")
berat_badan2 = input("Masukkan Berat Badan Anda: ")

Masukkan Nama Anda: dede 2
Masukkan Usia Anda: 17
Masukkan Berat Badan Anda: 71

In [ ]:
print("Nama :", nama2)
print("Umur :", umur2)
print("Berat Badan :", berat_badan2)

Nama : dede 2
Umur : 17
Berat Badan : 71

In [ ]:
#@title Calculate with Variable

tinggi_badan = 1.75
bmi = berat_badan / (tinggi_badan ** 2)

print("Berat Ideal :", bmi)

Berat Ideal : 28.571428571428573

In [ ]:
#@title Update Value Variable

umur2 = 22

In [ ]:
print("Nama :", nama)
print("Umur 1 :", umur)
print("Umur 2 :", umur2)
print("Berat Badan :", berat_badan)
print("Tinggi Badan :", tinggi_badan)
print("BMI :", bmi)

Nama : Dede
Umur 1 : 18
Umur 2 : 22
Berat Badan : 87.5
Tinggi Badan : 1.75
BMI : 28.571428571428573

In [ ]:
nama_1 = 'dede'
print(nama_1)

dede

## Komentar

In [ ]:
# ini adalah komentar
# nama = 'dede' # ini adalah variabel nama
# print(nama)
# block code, kemudian ctrl + /

## Data Type

In [ ]:
#@title Numeric Data Type

a = 10        # integer
b = 3.14      # float

In [ ]:
print("A :", a)
print("B :", b)

A : 10
B : 3.14

In [ ]:
#@title String Data Type

nama = "John Doe"   # string
alamat = 'Jl. Ahmad Yani No. 10'   # string

In [ ]:
print("Nama :", nama)
print("Alamat :", alamat)

Nama : John Doe
Alamat : Jl. Ahmad Yani No. 10

In [ ]:
#@title Boolean Data Type

benar = True      # boolean True
salah = False     # boolean False

In [ ]:
print(benar)

True

In [ ]:
#@title List Data Type

buah = ['apel', 'jeruk', 'mangga', 'pisang']  # list
angka = [1, 2, 3, 4, 5]                      # list

In [ ]:
print("Buah :", buah)
print("Angka :", angka)

Buah : ['apel', 'jeruk', 'mangga', 'pisang']
Angka : [1, 2, 3, 4, 5]

In [ ]:
#@title Tuple Data Type

hari = ('Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat')  #
bulan = ('Januari', 'Februari', 'Maret')

In [ ]:
print("Hari :", hari)
print("Bulan :", bulan)

Hari : ('Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat')
Bulan : ('Januari', 'Februari', 'Maret')

In [ ]:
#@title Set Data Type

buah = {'apel', 'jeruk', 'mangga', 'pisang'}  # set
angka = set([1, 2, 3, 4, 5])

In [ ]:
print("Buah :", buah)
print("Angka :", angka)

Buah : {'jeruk', 'apel', 'pisang', 'mangga'}
Angka : {1, 2, 3, 4, 5}

In [ ]:
#@title Dictionary Data Type

data = {'nama': 'John Doe', 'umur': 25, 'alamat': 'Jl. Ahmad Yani No. 10'}   # dictionary
# key (nama, umur, alamat)
# value (john doe, 25, jl.ahmad yani)

In [ ]:
print(data)

{'nama': 'John Doe', 'umur': 25, 'alamat': 'Jl. Ahmad Yani No. 10'}

In [ ]:
#@title Data Type Checking

# Tipe data integer
x = 5
print(type(x))    # Output: <class 'int'>

# Tipe data float
y = 3.14
print(type(y))    # Output: <class 'float'>

# Tipe data string
z = 'Hello, World!'
print(type(z))    # Output: <class 'str'>

# Tipe data boolean
a = True
print(type(a))    # Output: <class 'bool'>

# Tipe data list
b = [1, 2, 3, 4, 5]
print(type(b))    # Output: <class 'list'>

# Tipe data tuple
c = (1, 2, 3, 4, 5)
print(type(c))    # Output: <class 'tuple'>

# Tipe data set
d = {1, 2, 3, 4, 5}
print(type(d))    # Output: <class 'set'>

# Tipe data dictionary
e = {'nama': 'John Doe', 'umur': 25}
print(type(e))    # Output: <class 'dict'>

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>

## Basic arithmetic operation

In [ ]:
#@title Penjumlahan

x = 10
y = 5
z = x + y
print(z)    # Output: 15

15

In [ ]:
#@title Pengurangan

x = 10
y = 5
z = x - y
print(z)    # Output: 5

5

In [ ]:
#@title Perkalian


x = 10
y = 5
z = x * y
print(z)    # Output: 50

50

In [ ]:
#@title Pembagian

x = 10
y = 5
z = x / y
print(z)    # Output: 2.0

2.0

In [ ]:
#@title Pembagian Bulat

x = 9
y = 3
z = x // y
print(z)    # Output: 3

3

In [ ]:
#@title Modulus

x = 13
y = 3
z = x % y
print(z)    # Output: 1

1

In [ ]:
#@title Pangkat


x = 2
y = 3
z = x ** y
print(z)    # Output: 8

8

## String Manipulation

In [ ]:
#@title Concatenation


a = "Halo"
b = "Dunia"
c = a + " " + b
print(c) # Output: "Halo Dunia"

Halo Dunia

In [ ]:
#@title Multiplication

a = "Halo "
b = a * 3
print(b) # Output: "Halo Halo Halo "

Halo Halo Halo

In [ ]:
#@title Indexing

# index, start = 0
# index positif = 0,1,2,3
# index negatif = -1, -2, -3
a = "Halo, Dunia!"

b = a[0]
c = a[2]
d = a[-1]
e = a[-12]
f = len(a)


print(a) # Output: "Halo, Dunia!"
print(b) # Output: "H"
print(c) # Output: "l"
print(d) # Output: "!"
print(e)
print(f)

Halo, Dunia!
H
l
!
H
12

In [ ]:
#@title Slicing
# start:end
# start:end:lompatan

a = "Halo Dunia"
b = a[0:6]
c = a[0:8:2]
print(b)
print(c) # Output: "Halo"

Halo D
Hl u

In [ ]:
#@title Replace
# replace(oldvalue, newvalue)

a = "Halo Dunia"
b = a.replace("Dunia", "Semua")
print(b) # Output: "Halo Semua"

Halo Semua

In [ ]:
#@title Lowercase

a = "Halo Dunia"
b = a.lower()
print(b) # Output: "halo dunia"

halo dunia

In [ ]:
#@title Uppercase

a = "Halo Dunia"
b = a.upper()
print(b) # Output: "HALO DUNIA"

HALO DUNIA

In [ ]:
#@title Capitalize

a = "Halo Dunia"
b = a.capitalize()
print(b) # Output: "Halo dunia"

Halo dunia

In [ ]:
print(a.capitalize())

Halo dunia

In [ ]:
#@title Split

a = "Halo, Dunia, Semua"
b = a.split(", ")
print(type(a))
print(b)
print(type(b))
print(b[1]) # Output: ["Halo", "Dunia", "Semua"]

<class 'str'>
['Halo', 'Dunia', 'Semua']
<class 'list'>
Dunia

In [ ]:
#@title Join

a = ["Halo", "Dunia", "Semua"]
b = ", ".join(a)

print(type(a))
print(a)

print("========")
print(type(b))
print(b) # Output: "Halo, Dunia, Semua"

<class 'list'>
['Halo', 'Dunia', 'Semua']
========
<class 'str'>
Halo, Dunia, Semua

## Typecasting

In [ ]:
#@title Data Type Casting - Integer

x = '5'
y = int(x)

print(type(x))
print(y)    # Output: 5
print(type(y)) # Output: int

<class 'str'>
5
<class 'int'>

In [ ]:
#@title Data Type Casting - Float


x = '3'
y = float(x)
print(y)    # Output: 3.14
print(type(y)) # Output: float

3.0
<class 'float'>

In [ ]:
#@title Data Type Casting - String

x = 5
y = str(x)

print(type(x))
print(y)    # Output: '5'
print(type(y)) # Output: str

<class 'int'>
5
<class 'str'>

In [ ]:
#@title Data Type Casting - Boolean

x = ''
y = bool(x)
print(y)    # Output: False
print(type(y)) # Output: bool

False
<class 'bool'>

## Latihan

1. Buat contoh :
- Variabel
- Data type
- Arithmatic
- manipulation
- type casting

In [ ]:
#variable
# String
nama = "Dija"

# Integer
umur = 20

# Float
tinggi = 160.5

 # Boolean
is_student = True

print("Nama:", nama)
print("Umur:", umur)
print("Tinggi:", tinggi)
print("Apakah mahasiswa?", is_student)

Nama: Dija
Umur: 20
Tinggi: 160.5
Apakah mahasiswa? True

In [ ]:
nama_saya = input("Masukkan Nama Anda: ")
umur_saya = input("Masukkan Usia Anda: ")
berat_badan_saya = input("Masukkan Berat Badan Anda: ")

Masukkan Nama Anda: dija
Masukkan Usia Anda: 20
Masukkan Berat Badan Anda: 56

In [ ]:
# Data type String
nama = "dija"
kalimat = "selamat datang di python!"

# Menggabungkan string
print(nama + " " + kalimat)

# Mengubah ke Upper Case
print(nama.upper() + " " + kalimat.upper())

# Mengubah ke Lower Case
print(nama.lower() + " " + kalimat.lower())

# Mengubah ke Capitalize (huruf pertama jadi besar)
print(nama.capitalize() + " " + kalimat.capitalize())

dija selamat datang di python!
DIJA SELAMAT DATANG DI PYTHON!
dija selamat datang di python!
Dija Selamat datang di python!

In [ ]:
# numeric

# int
bilangan_bulat = 10
print("Bilangan Bulat:", bilangan_bulat)

# Float
bilangan_desimal = 15.7
print("Bilangan Desimal:", bilangan_desimal)

jumlah = bilangan_bulat + bilangan_desimal
print("Jumlah (Integer + Float):", jumlah)

Bilangan Bulat: 10
Bilangan Desimal: 15.7
Jumlah (Integer + Float): 25.7

In [ ]:
# Boolean

is_sunny = False
is_raining = True

print("Apakah cuaca cerah?", is_sunny)
print("Apakah hujan?", is_raining)

Apakah cuaca cerah? True
Apakah hujan? False

In [ ]:
# Membandingkan angka menggunakan boolean
nilai1 = 10
nilai2 = 20

is_greater = nilai1 > nilai2
print("Apakah", nilai1, "lebih besar dari", nilai2, "?\n", is_greater)

Apakah 10 lebih besar dari 20 ?
 False

In [ ]:
# List
buah_buahan = ["apel", "mangga", "jeruk", "pisang"]

# Mengakses elemen dalam list
print("Buah pertama:", buah_buahan[0])
print("Buah terakhir:", buah_buahan[-1])


# Menambahkan elemen ke dalam list
buah_buahan.append("semangka")
print("Daftar buah setelah ditambah:", buah_buahan)

# Menghapus elemen dari list
buah_buahan.remove("jeruk")
print("Daftar buah setelah dihapus:",  buah_buahan)

Buah pertama: apel
Buah terakhir: pisang
Daftar buah setelah ditambah: ['apel', 'mangga', 'jeruk', 'pisang', 'semangka']

In [ ]:
# Set

hewan = {"aayam", "macan", "jerapah", "panda"}

print("Daftar buah:", hewan)

hewan.add("serigala")
print("Daftar hewan setelah ditambah:", hewan)

Daftar buah: {'panda', 'aayam', 'macan', 'jerapah'}
Daftar hewan setelah ditambah: {'aayam', 'macan', 'jerapah', 'serigala', 'panda'}

In [ ]:
#dictionary

mahasiswa = {
    "nama": "Andi",
    "usia": 21,
    "jurusan": "Informatika"
}

print("Nama:",  mahasiswa['nama'])
print("Usia:", mahasiswa['usia'], "tahun")
print("Jurusan:", mahasiswa['jurusan'])

Nama: Andi
Usia: 21 tahun
Jurusan: Informatika

# Conditional Statement

## Operator Perbandingan

In [ ]:
#@title Kesamaan

angka1 = 10
angka2 = 5

sama = angka1 == angka2

print("Apakah sama ?", sama)

Apakah sama ? False

In [ ]:
#@title Tidak Sama

angka1 = 10
angka2 = 5

tidak_sama = angka1 != angka2

print("Apakah tidak sama ?", tidak_sama)

Apakah tidak sama ? True

In [ ]:
#@title Lebih Besar

angka1 = 10
angka2 = 5

lebih_besar = angka1 > angka2

print("Apakah lebih besar ?", lebih_besar)

Apakah lebih besar ? True

In [ ]:
#@title Lebih Kecil

angka1 = 10
angka2 = 5

lebih_kecil = angka1 < angka2

print("Apakah lebih kecil ?", lebih_kecil)

Apakah lebih kecil ? False

In [ ]:
#@title Lebih Besar Sama Dengan

angka1 = 10
angka2 = 5

lebih_besar_sama_dengan = angka1 >= angka2

print("Apakah lebih besar atau sama dengan ?", lebih_besar_sama_dengan)

Apakah lebih besar atau sama dengan ? True

In [ ]:
#@title Lebih Kecil Sama Dengan

angka1 = 10
angka2 = 5

lebih_kecil_sama_dengan = angka1 <= angka2

print("Apakah lebih besar atau sama dengan ?", lebih_kecil_sama_dengan)

Apakah lebih besar atau sama dengan ? False

## Operator Logika

In [ ]:
#@title AND

kondisi1 = True
kondisi2 = False

logika_and = kondisi1 and kondisi2

print("Hasil Logika And:", logika_and)

Hasil Logika And: False

In [ ]:
#@title OR

kondisi1 = False
kondisi2 = False

logika_or = kondisi1 or kondisi2

print("Hasil Logika OR:", logika_or)

Hasil Logika OR: False

In [ ]:
#@title NOT

kondisi1 = True
kondisi2 = False

logika_not_1 = not kondisi1
logika_not_2 = not kondisi2

print("Hasil Logika NOT Kondisi 1:", logika_not_1)
print("Hasil Logika NOT Kondisi 2:", logika_not_2)

Hasil Logika NOT Kondisi 1: False
Hasil Logika NOT Kondisi 2: True

## Condition IF

In [ ]:
#@title if

bilangan = 6

if bilangan > 4:
    print("Bilangan positif")

Bilangan positif

In [ ]:
#@title if-else

bilangan = 5

if bilangan > 0:
    print("Bilangan positif")
else:
    print("Bilangan negatif")

Bilangan positif

In [ ]:
#@title if-elif-else

bilangan = 0

if bilangan > 0:
    print("Bilangan positif")
elif bilangan < 0:
    print("Bilangan negatif")
else:
    print("Nol")

Nol

In [ ]:
# Arithmetic (Operasi Aritmatika)
angka1 = 10
angka2 = 3
hasil_penjumlahan = angka1 + angka2
hasil_pengurangan = angka1 - angka2
hasil_perkalian = angka1 * angka2
hasil_pembagian = angka1 / angka2
hasil_pembagian1 = angka1 // angka2
hasil_modulus = angka1 % angka2
hasil_pangkat = angka1 ** angka2

print("Penjumlahan:", hasil_penjumlahan)
print("Pembagian:", hasil_pembagian)
print("Pekalian:", hasil_perkalian)

Penjumlahan: 13
Pembagian: 3

In [ ]:
# Manipulasi String
nama = "Dija"

salam = "Halo, " + nama
panjang_nama = len(nama)

print(salam)
print("Panjang nama:", panjang_nama)

Halo, Dija
Panjang nama: 4

In [ ]:
# Type Casting (Mengubah tipe data)

umur = 20
tinggi = 160.5
angka1 = 10

umur_str = str(umur)
tinggi_int = int(tinggi)
nilai_float = float(angka1)

print("Tipe data umur setelah di-casting:", type(umur_str))
print("Tinggi setelah diubah ke integer:", tinggi_int)

Tipe data umur setelah di-casting: <class 'str'>
Tinggi setelah diubah ke integer: 160

2. Diberikan nomor telepon berikut.

phone_num = +62801-0029-9000

ganti +62 menjadi 0 dan hilangkan simbol -

In [ ]:
phone_num = "+62801-0029-9000"
phone_num = phone_num.replace("+62", "0").replace("-", "")
print(phone_num)

080100299000